<section>
  <section class="flex w-full">
    <div role="tablist" class="tabs tabs-border">
      <%= link_to 'all', requested_services_path(tab: 'all'), class: "tab #{'tab-active' if @tab == 'all'}", role: "tab" %>
      <%= link_to 'Confirmed Services', requested_services_path(tab: 'confirmed'), class: "tab #{'tab-active' if @tab == 'confirmed'}", role: "tab" %>
      <%= link_to 'Pending Services', requested_services_path(tab: 'pending'), class: "tab #{'tab-active' if @tab == 'pending'}", role: "tab" %>
    </div>
  <div class="divider divider-horizontal"></div>

    <%=  link_to "New Service Request", new_requested_service_path, class:"btn btn-soft btn-primary" %>
  </section >
  <div class="overflow-x-auto">
   
      <table class="table table-zebra">
        <thead>
          <tr>
           
            <th>Name</th>
            <th>Status</th>
            <th>Service</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Date</th>

            <th>Update</th>
          </tr>
        </thead>
       <% if @requested_services.any? %>
        <tbody>
          <% @requested_services.each do |rs| %>
            <tr>
              <td><%= rs.customer.first_name%></td>
              <td><%= rs.is_confirmed ? "Confirmed" : "Pending" %></td>
              <td><%= rs.service.name if rs.service %></td>
              <td><%= rs.customer.email %></td>
              <td><%= rs.customer.phone_number %></td>
              <td><%= rs.requested_at.strftime("%Y-%m-%d") if rs.requested_at %></td>
              <td>
                <%= link_to 'Edit', edit_requested_service_path(rs), class: "btn btn-sm btn-secondary" %>
              </td>
            </tr>

          <% end %>
           <% else %>
            <tr>
              <td colspan="7" class="text-center py-4">No requested services found.</td>
            </tr>
    <% end %>
        </tbody>
      </table>
   
  </div>
</section>
