<section class="p-4">
    <h2 class="text-2xl font-bold mb-4">Confirmed Schedule</h2>
    <ul class="list bg-base-100 rounded-box shadow-md">
        <% if  confimed_schedule.any? %>
            <div class="overflow-x-auto">
                <table class="table">
                    <thead>
                    <tr>
                        <th> Date</th>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Service</th>
                        <th>Is Completed</th>
                    </tr>
                    </thead>
                    <tbody>
                        <% confimed_schedule.each do |sr|%>
                            <tr style="cursor:pointer">
                                <td>
                                    <%= sr.requested_at.strftime("%Y-%m-%d") if sr.requested_at %>
                                </td>
                                <td>
                                    <%= link_to sr.customer.first_name, requested_service_path(sr) %>
                                </td>
                                <td>
                                    <%= link_to sr.customer.address.street, requested_service_path(sr) %>
                                </td>
                                <td>
                                    <%= link_to sr.service.name, requested_service_path(sr) %>
                                </td>

                                <td>
                                     <%= sr.is_completed ? "Completed": "Inprogress" %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        <% else %>
            <li class="p-4 text-center">No confirmed schedules found.</li>
        <% end %>


    </ul>
</section>